#container hr {
    margin: 0;
}

.head .sub-nav {
    line-height:28px;
    margin-left: 5em;
    margin-top: 14px;
}

.data-counter {
    line-height:30px;
}

.filter div {
    min-height: 30px;
    line-height:30px;
}

.datetime input {
    display: inline;
    width: 8em;
    line-height: 18px;
}

.datetime input#dateFrom {
    margin-left: 2em;
}

input#FilterSourceSite {
    color: #CCC;
}

input#FilterAuthor {
    color: #CCC;
}

.filter button.submit {
    padding: 5px 10px;
}

.doc-list-actions {
    background-color: #f5f5f5;
    padding: 15px 0;
}

.doc-list table th {
    background-color: #E5F0FF;
}

.doc-list .paginator {
    padding:0 2em;
}

.doc-list .paginator p {
    margin-top: 17px;
}

div.show-mode {
    line-height:30px;
}

span.result-counter {
    margin-left: 15px;
}

.actions .ui-widget li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
    border:none;
}

a.selected {
    background: #1c6fe2; padding: 3px; color: white;
}

#topicsUQuickView dl {
    width:90%;
}

#topicsUQuickView dl dd {
    margin-left: 6em;
}

#topicsUQuickView .article .content {
    margin: 0 20px;
}

#topicsUQuickView .article hr {
    border: #0097a7 2px solid;
    margin: 15px 0;
}

#topicsUQuickView .article p {
    text-indent: 2em;
}
