.settings
.idea
/config/core.php
/config/public/database.php
/logs/*

/vendor/*
!/vendor/cakephp
!/vendor/shells

/tmp/cache/models/*
/tmp/cache/persistent/*
/tmp/sessions/*
/platon-ui.iml

composer.lock
/.buildpath
/.project

/config/private
/config/private/*
/config/database.php
