.dropper,
.dropper *,
.dropper *:before,
.dropper *:after {
  box-sizing: border-box;
}

.dropper-dropzone {
  background: #ffffff;
  border: 3px dashed #cccccc;
  border-radius: 0;
  color: #666666;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  padding: 25px;
  text-align: center;
  width:100%;
}

.dropper.dropping .dropper-dropzone,
.no-touch .dropper:hover .dropper-dropzone {
  background: #eeeeee;
  border-color: #999999;
  color: #333333;
}

.dropper-input {
  position: absolute;
  left: 100%;
  opacity: 0;
}

.no-opacity .dropper-input {
  left: -999px;
}
