/* CSS Document */

.enquiries { min-height:400px;}

.enquiries h2 {font-size:16px; font-weight:bolder; text-align:center; color:#F3C; margin-top:2ex}

.enquiries p { margin:15px; text-indent:1em}
