* {
    margin: 0;
    padding: 0;
}
html {
    background: url("/img/stripe2.png") repeat scroll 0 0 #F8E088;
    font-size: 100.01%;
}
body {
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: small;
    letter-spacing: 0.01em;
    margin: 17px 0 15px;
    text-align: center;
    text-rendering: optimizelegibility;
}
article, aside, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
#container {
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: left;
}
#nav {
    background: url("/img/bghome.png") repeat-y scroll right center #CF3B19;
    border-left: 1px solid #B83A1F;
    border-top: 1px solid #B83A1F;
    height: 3em;
}
#nav[id] {
    height: auto;
}
#stage {
    background: none repeat scroll 0 0 #FFFFFF;
}
#container, #bottom, #footer {
    margin: 0 auto;
    width: 900px;
}
#bottom {
    display: block;
    height: 10px;
}
#header {
    margin: 20px 28px 0;
}
#header li {
    color: #999999;
    font-weight: bold;
    list-style: none outside none;
}
#header li a {
    color: #333333;
    text-decoration: none;
}
* html #header li a {
    padding: 2px 0 3px;
}
#header li.right a {
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 68px;
}
#header[id] li.right a {
    display: block;
}
#header li a:hover {
    color: blue;
    text-decoration: underline;
}
#header li a:active {
    color: #F9E5BD;
}
#header a b {
    color: #F9E5BD;
}
#header li.left span {
    color: #BA3C23;
}
.footer {
    clear: left;
    line-height: 1.3em;
    margin: 0 28px;
    padding: 15px 0;
    width: auto;
}
.footer h1 {
    float: right;
    margin: -4px 0 0 0;
}
.footer p {
    color: #FFE16E;
    font-weight: bold;
    margin: 0 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.footer p a {
    color: #FFEBC0;
    font-size: 85%;
    text-decoration: none;
}
.footer p a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
#footer {
    padding: 7px 0 10px;
    text-align: left;
}
#footer h1 {
    float: right;
    margin: -3px 5px 0 0;
}
#footer p {
    color: #B6381F;
    font-weight: bold;
    margin: 0 5px;
}
#footer a, #footer span {
    color: #333333;
    font-size: 85%;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}
#menu {
    list-style: none outside none;
    margin: 0 10px 0 0;
    position: absolute;
    right: 0;
    top: 13px;
}
#menu {
}
#menu li {
    color: #FFFFCC;
    display: block;
    float: left;
    margin: 0 2px;
}
#menu li.usr {
    margin-right: 20px;
}
#menu li.lgo {
    margin-left: 20px;
}
#menu li a {
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -moz-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.15);
    background-color: #A52610;
    background-image: url("/img/icons/sprite.png");
    background-repeat: no-repeat;
    border-bottom: 1px solid #9F1E00;
    border-right: 1px solid #841700;
    color: #FFDA68;
    display: block;
    font-size: 95%;
    font-weight: bold;
    line-height: 25px;
    margin: 0 auto;
    padding: 0 10px 1px 30px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
* html #menu li a, * html #manage #menu li a {
    background-image: none;
    padding: 0 15px 1px;
}
#menu li.frm a {
    background-position: -1px -4px;
}
#menu li.rpt a {
    background-position: -1px -41px;
}
#menu li.thm a {
    background-position: -1px -77px;
}
#menu li.usr a {
    background-position: -1px -113px;
}
#menu li.inf a {
    background-position: -1px -150px;
}
#menu li.lgo a {
    background-color: #333333;
    background-image: none;
    border-color: #333333;
    color: #EEEEEE;
    padding: 0 10px 1px;
}
#menu li.lgo a:hover {
    color: #000000;
}
#menu li.inf a, #menu li.act a {
    color: #EEEEEE;
}
#menu li.act a {
    background-image: none;
    padding: 0 10px 1px;
}
#menu li.inf a:hover, #menu li.act a:hover {
    background-color: #5686BC;
    border-color: #3F6895;
    color: #EEEEEE;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
#menu li a:hover {
    background-color: #FFDA68;
    border-color: #EDB509;
    color: #613D08;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
#menu a:active {
    background-color: #8EBC14 !important;
    border-color: #607E0E !important;
    color: #FFFFFF !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) !important;
}
#users .usr a, #account .act a, #build .bld a, #forms .frm a, #reports .rpt a {
    -moz-box-shadow: none;
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    color: #222222 !important;
    text-shadow: none !important;
}
#themes #menu .thm a {
    background-color: #222222;
    border-color: #222222;
    color: #FFFFFF;
    font-weight: bold;
}
#status {
    border-bottom: medium none;
    bottom: 25px;
    margin: 0 -465px 0 0;
    position: absolute;
    right: 50%;
    width: 350px;
    z-index: 5000;
}
#status[id] {
    position: fixed !important;
}
#status #y {
    -moz-border-radius: 15px 15px 15px 15px;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    background: url("/img/loader.gif") no-repeat scroll 8px center #CA2B0B;
    border-color: #E52E0B #AB2A13 #AB2A13 #E52E0B;
    border-style: solid;
    border-width: 1px;
    position: relative;
}
#statusText {
    color: #FFFFCC;
    line-height: 32px;
    padding: 0 15px 0 35px;
    text-align: left;
}
.loading {
    background: url("/img/loader2.gif") no-repeat scroll 0 center transparent;
    color: #999999;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 3px 0 0 20px;
}
#info {
    cursor: pointer;
    left: 50%;
    margin: 0 0 0 -385px;
    position: absolute;
    text-align: center;
    z-index: 10000;
}
#infoX {
    width: 770px;
}
#info .box {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #DEDEDE;
    margin: 0;
    padding: 20px;
}
#infoContent {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px dotted #CCCCCC;
    padding: 25px 25px 22px;
}
#infoFooter {
    background: url("/img/bottom.png") no-repeat scroll center top transparent;
    height: 10px;
    margin: 0 auto;
    width: 770px;
}
* html #infoFooter {
}
#info h2 {
    border-bottom: 1px solid #DEDEDE;
    color: #B02000;
    font-weight: bold;
    margin: 0 0 15px;
    padding: 0 0 7px;
    position: relative;
    text-align: left;
}
#info h2 span {
    bottom: 6px;
    color: #222222;
    display: block;
    font-size: 70%;
    font-weight: normal;
    margin: 5px 0 0;
    position: absolute;
    right: 0;
}
#info ul {
    list-style: none outside none;
    margin: 0 0 20px;
}
#info li {
    background: none repeat scroll 0 0 #ABD4EE;
    color: #222222;
    font-size: 90%;
    margin: 0 0 5px;
    padding: 7px 10px;
    text-align: left;
}
#info li.alt {
    background: none repeat scroll 0 0 #E1F2A7;
}
#info li.alt2 {
    background: none repeat scroll 0 0 #F0BCC7;
}
#info li b {
    color: #000000;
    font-size: 110%;
}
.notice {
    -moz-border-radius: 15px 15px 15px 15px;
    background-color: #FBFFCF;
    border-color: #EBEFC2 #D9DF99 #D9DF99 #EBEFC2;
    border-style: solid;
    border-width: 1px;
    margin: 10px 10px 0;
    padding: 10px 0 10px 0;
}
.notice h2 {
    color: #CD4224 !important;
    display: block;
    font-size: 150%;
}
.notice b {
    color: #BD3D20;
}
.tooltip {
    cursor: help !important;
    text-decoration: none;
}
#tooltip {
    -moz-border-radius: 15px 15px 15px 15px;
    -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    background: url("/img/ttclose.png") no-repeat scroll 95% 9px #222222;
    border: 6px solid #333333;
    font-size: 11px;
    line-height: 16px;
    margin: 7px 0 0 7px;
    padding: 10px 12px 12px;
    position: absolute;
    text-align: left;
    width: 250px;
    z-index: 10000;
}
#tipFrame {
    border: medium none;
    margin: 7px 0 0 7px;
    position: absolute;
    z-index: 9999;
}
#tooltip b {
    border-bottom: 1px dotted #555555;
    color: #FFE27F !important;
    cursor: pointer;
    display: block;
    font-size: 13px;
    margin: 0 0 10px;
    padding-bottom: 5px;
}
#tooltip em {
    color: #FFFFFF;
    display: block;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.02em;
    margin: 0 0 7px;
}
.promo {
    -moz-border-radius: 15px 15px 15px 15px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DEDEDE #CCCCCC #CCCCCC #DEDEDE;
    border-style: solid;
    border-width: 3px;
    color: #333333;
    font-size: 85%;
    line-height: 140%;
    margin: 15px auto 5px;
    padding: 10px 20px 10px 0;
    text-align: center;
    width: 457px;
}
.promo img {
    margin: 0 4px -4px 0;
}
.promo b {
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-topleft: 10px;
    background: none repeat scroll 0 0 #8EBD00;
    border-right: 4px solid #BEE37A;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 130%;
    margin: -10px 0;
    padding: 10px 15px 11px;
}
.promo a {
    font-weight: bold;
}
.promo em {
    color: #CF451C;
    font-style: normal;
    font-weight: bold;
}
h1, h2, h3 {
    font-weight: normal;
}
p {
    color: #222222;
}
.inline {
    display: inline !important;
}
.center {
    text-align: center !important;
}
.left {
    float: left;
}
.right {
    float: right;
}
.hide, .hideFlash embed, .hideFlash .flash {
    display: none !important;
}
.noShadow {
    -moz-box-shadow: none !important;
}
img.noShadow {
    border: medium none !important;
}
.clearfix, #stage {
    display: inline-block;
}
.clearfix[class], #stage[id] {
    display: block;
}
* html .clearfix, * html #stage {
    height: 1%;
    overflow: visible;
}
* + html .clearfix, * + html #stage {
    min-height: 1%;
}
.clearfix:after, #stage:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
h1.logo {
    font-size: 100%;
    text-decoration: none;
    text-indent: -9000px;
}
h1.logo a {
    background: url("/img/wflogo.png") no-repeat scroll left top transparent;
    display: block;
    height: 3em;
    overflow: hidden;
}
* html h1.logo a {
}
#footer h1.logo a, .footer h1.logo a {
    height: 40px;
    width: 90px;
}
a {
    color: blue;
    outline: medium none;
}
a:hover {
    color: green;
    cursor: pointer;
}
img, a img {
    border: medium none;
}
* html #bottom {
}
.icon {
    height: 16px;
    width: 16px;
}
a.button, button.button {
    -moz-border-radius: 11px 11px 11px 11px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    background: url("/img/white-grad.png") repeat-x scroll left top #EAEAEA;
    border-color: #DEDEDE #BBBBBB #BFBFBF #DEDEDE;
    border-style: solid;
    border-width: 1px;
    color: #464646;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    line-height: 130%;
    margin: 0 0.7em 0 0;
    padding: 5px 10px 6px;
    text-decoration: none;
}
a.bigpush {
    font-size: 140%;
}
a.button, button.button {
    display: inline-block;
    float: none;
}
button {
    overflow: visible !important;
    width: auto !important;
}
button.button {
    padding: 4px 10px 3px 7px;
}
button.button[type] {
    line-height: 17px;
    padding: 5px 10px 5px 7px;
    width: auto;
}
* + html button.button[type] {
    margin-bottom: 1px;
    padding: 4px 10px 3px 7px;
}
* html button.button {
    margin-bottom: 1px;
}
a.button img, button.button img {
    margin: 0 3px -3px 0 !important;
}
a.button:hover, button.button:hover {
    border: 1px solid #999999;
    color: #000000;
}
button.active, a.button:active {
    -moz-box-shadow: none;
    background: url("/img/white-grad-active.png") repeat-x scroll left top #FFFFFF;
    border-color: #CCCCCC;
}
button.positive, a.positive {
    color: #63A142;
    font-weight: bold;
}
a.positive:hover, button.positive:hover {
    border: 1px solid #7CB043;
    color: #63A142;
}
a.positive:active {
    background: none repeat scroll 0 0 #94B717;
    border: 1px solid #94B717;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #607710;
}
a.negative, button.negative {
    color: #D12F19;
}
a.negative:hover, button.negative:hover {
    border: 1px solid #E86B6D;
    color: #D12F19;
}
a.negative:active {
    background: none repeat scroll 0 0 #D12F19;
    border: 1px solid #D12F19;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #A93816;
}
.buttons a em, .buttons button em, a.button em {
    font-style: normal;
    font-weight: normal;
}
a.dark img {
    margin: 0 3px -3px 0 !important;
}
a.dark, a.darkPos, a.darkNeg {
    -moz-border-radius: 11px 11px 11px 11px;
    background: none repeat scroll 0 0 #444444;
    border: 1px solid #444444;
    color: #EEEEEE;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
}
a.dark:hover {
    background: none repeat scroll 0 0 #555555;
    border: 1px solid #FFFFFF !important;
    color: #FFFFFF;
}
a.darkPos {
    background: none repeat scroll 0 0 #4C8614;
    border: 1px solid #4C8614;
}
a.darkPos:hover {
    background: none repeat scroll 0 0 #5CA417;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
a.darkNeg {
    background: none repeat scroll 0 0 #D12F19;
    border: 1px solid #D12F19;
}
a.darkNeg:hover {
    background: none repeat scroll 0 0 #F13118;
    border: 1px solid #FFFFFF !important;
}
a.dark:active, a.darkPos:active, a.darkNeg:active {
    background-color: #FAE158 !important;
    border-color: #DFC94F !important;
    color: #222222 !important;
}
.info .buttons {
    float: right;
    margin: 6px 0 0;
    padding: 0;
}
.info .buttons a, .info .buttons button {
    margin: 0 0 0 0.7em;
}
#overlay {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5000;
}
#overlay[id] {
    position: fixed;
}
#lightbox {
    height: 300px;
    left: 50%;
    margin: -150px 0 0 -410px;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 820px;
    z-index: 9999;
}
#lightbox[id] {
    height: auto;
    min-height: 300px;
    position: fixed;
}
.lbOff {
    cursor: pointer;
}
#lightbox.done {
    -moz-border-radius: 50px 50px 50px 50px;
    background: none repeat scroll 0 0 #FFE27F;
    border-color: #D4B240 #A08730 #A08730 #D4B240;
    border-style: solid;
    border-width: 1px;
}
#lbContent {
    -moz-border-radius: 30px 30px 30px 30px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EFCA4A;
    height: 223px;
    margin: 25px;
    padding: 25px 30px;
    position: relative;
}
#lbContent[id] {
    height: auto;
    min-height: 223px;
}
#lightbox.loadin {
    background-color: #222222;
    border: 1px solid #CCCCCC;
}
#lbLoadMessage p {
    color: #FFFFFF;
    font-size: 150%;
    line-height: 380px;
    text-align: center;
}
#lightbox.done #lbLoadMessage, #lightbox.loadin #lbContent {
    display: none;
}
#lightbox.done #lbContent, #lightbox.loadin #lbLoadMessage {
    display: block;
}
#lightbox.blue, .blue #lightbox {
    background: none repeat scroll 0 0 #61A9DF;
    border-color: #61A9DF;
}
.blue #lbContent {
    border-color: #338DCF;
}
#lightbox.green, .green #lightbox {
    background: none repeat scroll 0 0 #A4DE5D;
    border-color: #A4DE5D;
}
.green #lbContent {
    border-color: #85CE2C;
}
#lightbox.error, .error #lightbox {
    background: none repeat scroll 0 0 #EA3109;
    border-color: #BE2700;
}
.error #lbContent {
    border-color: #EEEEEE;
}
* html.prepIE {
    overflow-y: hidden;
}
* html.prepIE body {
    height: 100%;
}
* html.prepIE select {
    visibility: hidden;
}
* html.prepIE #lightbox select {
    visibility: visible;
}
#lightbox.image, #lightbox.image #lbContent, #lightbox.movie, #lightbox.movie #lbContent {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    height: auto !important;
    margin-left: -450px;
    padding: 0 !important;
    text-align: center;
    width: 900px;
}
#lightbox.image #lbContent, #lightbox.movie #lbContent {
    margin: 0 !important;
}
#lightbox .button.dark {
    background: none repeat scroll 0 0 #333333;
    border-color: transparent #111111 #111111 transparent;
    border-style: solid;
    border-width: 1px;
    font-size: 85%;
    padding-left: 8px;
}
#lightbox .button.dark img {
    height: 13px;
    margin-bottom: -2px !important;
}
* html #lightbox.image, * html #lightbox.image #lbContent, * html #lightbox.movie, * html #lightbox.movie #lbContent {
    background: none repeat scroll 0 0 #000000 !important;
    border: medium none #000000 !important;
}
#lbImage, #lbMovie object, #lbMovie video {
    background: url("/img/lbProgress.gif") no-repeat scroll center center #000000;
    border-color: #555555 #777777 #777777 #555555;
    border-style: solid;
    border-width: 1px;
    max-width: 900px;
}
h4#lbCaption {
    color: #F5F5F5 !important;
    font-size: 120%;
    padding: 20px 0 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.898);
}
#lightbox h3 {
    color: #222222;
    font-size: 100%;
    margin: 0 0 1.2em;
}
#lightbox form ul {
    margin: 0 0 10px;
    padding: 0;
}
#lightbox form li {
    position: static;
    width: 97%;
}
#lightbox div.buttons {
    margin: 0 0 1.2em;
}
#lightbox .stuff p {
    font-size: 100%;
    line-height: 150%;
    margin: 0 0 1em;
}
.prompt {
    padding: 60px 0 30px;
    text-align: center;
}
.prompt h2 {
    margin-bottom: 15px !important;
}
.prompt h3 {
    font-size: 120% !important;
    padding: 0 20px 40px !important;
}
.prompt input.text {
    -moz-border-radius: 12px 12px 12px 12px;
    color: #333333;
    font-size: 180%;
    margin: 0 auto 10px;
    outline: medium none;
    text-align: center;
    width: 75%;
}
.prompt li {
    margin-bottom: 5px;
    padding: 0;
    width: auto !important;
}
.prompt li div {
    margin: 0;
}
.prompt li p {
    margin-bottom: 10px;
}
.prompt li.buttons {
    padding-top: 5px;
}
.prompt label.desc {
    font-size: 140%;
    font-weight: normal;
    padding: 20px 0 7px;
}
.prompt button {
    display: inline-block;
    float: none;
}
.confirm {
    padding-bottom: 25px;
}
.confirm h2 {
    margin-bottom: 15px;
    padding-top: 42px;
}
.confirm h2 b {
    color: #CE2001;
}
.confirm p {
    font-size: 110%;
    line-height: 160%;
    margin: 0 0 1.5em;
}
#lbContent ol.decide {
    list-style: none outside none;
    margin: 17px 0 0;
    padding: 0;
    width: 100%;
}
#lbContent ol.decide li {
    font-size: 135%;
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
}
#lbContent ol.rss li {
    font-size: 100%;
    margin-bottom: 20px;
}
#lbContent ol.decide li a {
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    background: url("/img/white-grad.png") repeat-x scroll left top #EAEAEA;
    border-color: #DEDEDE #BBBBBB #BFBFBF #DEDEDE;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    display: block;
    height: 100%;
    line-height: 40px;
    margin: 1px;
    padding: 1px 1px 1px 16px;
    text-decoration: none;
}
#lbContent ol.decide li a span {
    color: #000000;
    font-weight: bold;
}
#lbContent ol.decide li.green a span, #lbContent ol.decide li.green a:hover b {
    color: #528F08;
}
#lbContent ol.decide li.red a span, #lbContent ol.decide li.red a:hover b {
    color: #BD2514;
}
#lbContent ol.decide li.blue a span, #lbContent ol.decide li.blue a:hover b {
    color: #1F68A8;
}
#lbContent ol.decide li a:hover {
    border: 2px solid #999999;
    color: #222222;
    font-weight: bold;
    padding: 0 0 0 15px;
}
#lbContent ol.decide li.green a:hover {
    border-color: #89C711;
}
#lbContent ol.decide li.red a:hover {
    border-color: #E67453;
}
#lbContent ol.decide li.blue a:hover {
    border-color: #3A93C9;
}
#lbContent ol.decide li a:active {
    -moz-box-shadow: none;
    background: url("/img/white-grad-active.png") repeat-x scroll left top #FFFFFF;
    border-color: #DEDEDE !important;
}
#lbContent ol.decide li a b {
    color: #444444;
}
#lbContent ol.decide li a:hover b {
    border-bottom: 1px dotted #777777;
    color: #000000;
}
.wufoo {
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    letter-spacing: 0.01em;
    text-rendering: optimizelegibility;
}
.wufoo li {
    width: 64%;
}
.info {
    border-bottom: 1px dotted #CCCCCC;
    clear: both;
    display: inline-block;
    margin: 0 0 5px;
    padding: 0 1% 1.1em;
}
.info[class] {
    display: block;
}
.info h2 {
    clear: left;
    font-size: 160%;
    font-weight: normal;
    margin: 0 0 5px;
}
.info div {
    color: #555555;
    font-size: 95%;
    line-height: 135%;
}
form ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
* html form ul {
    width: 99%;
}
form li {
    background-color: transparent;
    clear: both;
    margin: 0;
    padding: 6px 1% 9px;
    position: relative;
}
form ul:after, form li:after, form li div:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
* html form li {
    height: 1%;
    margin-bottom: -3px;
}
* + html form li {
    height: 1%;
    margin-bottom: -3px;
}
* html form li div {
    display: inline-block;
}
* + html form ul, * + html form li div {
    display: inline-block;
}
form li div {
    color: #444444;
    margin: 0;
    padding: 0;
}
form li span {
    color: #444444;
    float: left;
    margin: 0 0.3em 0 0;
    padding: 0;
}
form li div span {
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}
li.twoColumns div span {
    margin: 0 5px 0 0;
    width: 48%;
}
li.threeColumns div span {
    margin: 0 5px 0 0;
    width: 30%;
}
li.notStacked div span {
    margin: 0 7px 0 0;
    width: auto;
}
form li.complex {
    padding-bottom: 0;
}
form li.complex div span {
    margin: 0 0.3em 0 0;
    padding-bottom: 12px;
    width: auto;
}
form li.complex div span.full {
    margin: 0;
}
form li.complex div span.left, form li.complex div span.right {
    margin: 0;
    width: 48%;
}
form li.complex div span.full input, form li.complex div span.full select, form li.complex div span.left input, form li.complex div span.right input, form li.complex div span.left select, form li.complex div span.right select {
    width: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both !important;
}
label span, .section span, p span, .likert span {
    display: inline !important;
    float: none !important;
}
.rtl .info h2, .rtl .info div, .rtl label.desc, .rtl label.choice, .rtl div label, .rtl span label, .rtl input.text, .rtl textarea.textarea, .rtl select.select, .rtl p.instruct, .rtl .section h3, .rtl .section div, .rtl input.btTxt {
    direction: rtl;
}
form li div label, form li span label {
    clear: both;
    color: #444444;
    display: block;
    font-size: 85%;
    line-height: 160%;
    margin: 0;
    padding-top: 3px;
}
label.desc {
    border: medium none;
    color: #222222;
    display: block;
    font-size: 95%;
    font-weight: bold;
    line-height: 150%;
    margin: 0;
    padding: 0 0 3px;
}
label.choice {
    color: #222222;
    display: block;
    font-size: 100%;
    line-height: 150%;
    margin: -17px 0 0 23px;
    padding: 0 0 5px;
    width: 88%;
}
.safari label.choice {
    margin-top: -16px;
}
form.rightLabel label.desc {
    padding-top: 2px;
}
span.symbol {
    font-size: 120%;
    line-height: 135%;
}
form li .datepicker {
    cursor: pointer !important;
    float: left;
    height: 16px;
    margin: 0.19em 5px 0 0;
    padding: 0;
    width: 16px;
}
form span.req {
    color: red !important;
    display: inline;
    float: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
form li div label var {
    font-style: normal;
    font-weight: bold;
}
form li div label .currently {
    display: none;
}
input.text, input.search, input.file, textarea.textarea, select.select {
    color: #333333;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 2px 0;
}
input.text, input.search, textarea.textarea {
    background: url("/img/fieldbg.gif") repeat-x scroll center top #FFFFFF;
    border-color: #7C7C7C #C3C3C3 #DDDDDD;
    border-style: solid;
    border-width: 1px;
}
select.select {
    padding: 1px 0 0;
}
input.search {
    -moz-border-radius: 10px 10px 10px 10px;
    padding-left: 6px;
}
input.checkbox, input.radio {
    display: block;
    height: 13px;
    margin: 4px 0 0;
    padding: 0;
    width: 13px;
}
input.other {
    margin: 0 0 8px 25px;
}
.safari select.select {
    font-size: 120% !important;
    margin: 0 0 1px;
}
* html select.select {
    margin: 1px 0;
}
* + html select.select {
    margin: 1px 0;
}
.center, form li span.center input.text, form li span.center label, form li.name span label, form li.date input.text, form li.date span label, form li.phone input.text, form li.phone span label, form li.time input.text, form li.time span label {
    text-align: center;
}
form li.time select.select {
    margin-left: 5px;
}
form li.price .right {
    text-align: right;
}
.third {
    width: 32% !important;
}
.half {
    width: 48% !important;
}
.full {
    width: 100% !important;
}
input.small, select.small {
    width: 25%;
}
input.medium, select.medium {
    width: 50%;
}
input.large, select.large, textarea.textarea {
    width: 100%;
}
.msie[class] select.ieSelectFix {
    width: auto;
}
.msie[class] select.ieSelectFix.small {
    min-width: 25%;
}
.msie[class] select.ieSelectFix.medium {
    min-width: 50%;
}
.msie[class] select.ieSelectFix.large {
    width: 100%;
}
textarea.small {
    height: 5.5em;
}
textarea.medium {
    height: 10em;
}
textarea.large {
    height: 20em;
}
li.file a {
    color: #222222;
    text-decoration: none;
}
li.file span {
    display: inline;
    float: none;
}
li.file img {
    display: block;
    float: left;
    margin: 0 0 0 -10px;
    padding: 5px 5px 7px;
}
li.file .file-size, li.file .file-type {
    color: #666666;
    font-size: 85%;
    text-transform: uppercase;
}
li.file .file-name {
    color: blue;
    display: block;
    padding: 14px 0 0;
    text-decoration: underline;
}
li.file .file-delete {
    color: red !important;
    font-size: 85%;
    text-decoration: underline;
}
li.file a:hover .file-name {
    color: green !important;
}
li.file a:hover .file-name {
    color: green !important;
}
form li.likert {
    clear: both !important;
    float: none !important;
    margin: 0;
    padding: 6px 1% 5px;
    width: auto !important;
}
.likert table {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DEDEDE #DEDEDE -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    margin: 0 0 0.9em;
    width: 100%;
}
.likert caption {
    color: #222222;
    font-size: 95%;
    line-height: 135%;
    padding: 5px 0 0.5em;
    text-align: left;
}
.likert input {
    margin: 2px 0;
    padding: 0;
}
.likert tbody td label {
    color: #565656;
    display: block;
    font-size: 85%;
}
.likert thead td, .likert thead th {
    background-color: #E6E6E6;
}
.likert td {
    border-left: 1px solid #CCCCCC;
    padding: 4px 6px;
    text-align: center;
}
.likert thead td {
    font-size: 85%;
    padding: 10px 6px;
}
.likert th, .likert td {
    border-bottom: 1px solid #DEDEDE;
}
.likert tbody th {
    padding: 8px;
    text-align: left;
}
.likert tbody th label {
    color: #222222;
    font-size: 95%;
    font-weight: bold;
}
.likert tbody tr.alt td, .likert tbody tr.alt th {
    background-color: #F5F5F5;
}
.likert tbody tr:hover td, .likert tbody tr:hover th {
    background-color: #FFFFCF;
}
.col1 td {
    width: 30%;
}
.col2 td {
    width: 25%;
}
.col3 td {
    width: 18%;
}
.col4 td {
    width: 14.5%;
}
.col5 td {
    width: 12%;
}
.col6 td, .col7 td {
    width: 10%;
}
.col8 td, .col9 td, .col10 td {
    width: 6.5%;
}
.col11 {
    width: 6%;
}
.hideNumbers tbody td label {
    display: none;
}
form li.buttons {
    clear: both;
    padding: 10px 1%;
    position: relative;
    width: auto !important;
}
form li.buttons input {
    font-size: 100%;
    margin-right: 5px;
}
input.btTxt {
    overflow: visible;
    padding: 0 7px;
    width: auto;
}
.safari input.btTxt {
    font-size: 120%;
}
.buttons .marker {
    color: #000000;
    padding: 15px 10px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
button.link {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: blue;
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    padding: 0;
    text-decoration: underline;
}
button.link:hover {
    color: green;
}
.leftLabel li, .rightLabel li {
    padding-top: 9px;
    width: 74% !important;
}
.leftLabel label.desc, .rightLabel label.desc {
    float: left;
    margin: 0 15px 0 0;
    width: 31%;
}
.rightLabel label.desc {
    text-align: right;
}
.leftLabel li div, .rightLabel li div {
    float: left;
    width: 65%;
}
.leftLabel .buttons, .rightLabel .buttons {
    padding-left: 23%;
}
.leftLabel .buttons div, .rightLabel .buttons div {
    float: none;
    margin: 0 0 0 20px;
}
.leftLabel p.instruct, .rightLabel p.instruct {
    margin-left: 5px;
    width: 28%;
}
.leftLabel .altInstruct .instruct, .rightLabel .altInstruct .instruct {
    margin-left: 31% !important;
    padding-left: 15px;
    width: 65%;
}
.noI form li, .altInstruct form li {
    width: auto !important;
}
.noI .leftLabel .buttons, .noI .rightLabel .buttons {
    padding-left: 31%;
}
.noI .leftLabel .buttons div, .noI .rightLabel .buttons div {
    margin: 0 0 0 17px;
}
form li.leftHalf, form li.rightHalf {
    width: 47% !important;
}
form li.leftThird, form li.middleThird, form li.rightThird {
    width: 30% !important;
}
form li.leftHalf, form li.leftThird {
    clear: left !important;
    float: left;
}
form li.middleThird {
    clear: none !important;
    float: left;
    margin-left: 2% !important;
    width: 30% !important;
}
form li.rightHalf, form li.rightThird {
    clear: none !important;
    float: right;
}
li.leftHalf .small, li.rightHalf .small, li.leftHalf .medium, li.rightHalf .medium, li.leftThird .small, li.middleThird .small, li.rightThird .small, li.leftThird .medium, li.middleThird .medium, li.rightThird .medium {
    width: 100%;
}
form li.focused {
    background-color: #FFF7C0;
}
form .instruct {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E6E6E6;
    font-size: 105%;
    left: 0;
    margin: 0 0 0 8px;
    opacity: 0;
    padding: 8px 10px 10px;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 45%;
    z-index: 1000;
}
form .instruct small {
    color: #444444;
    font-size: 80%;
    line-height: 120%;
}
form li.focused .instruct, form li:hover .instruct {
    left: 100%;
    opacity: 1;
    visibility: visible;
}
.altInstruct .instruct, li.leftHalf .instruct, li.rightHalf .instruct, li.leftThird .instruct, li.middleThird .instruct, li.rightThird .instruct, .iphone .instruct {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    clear: left;
    font-style: italic;
    margin: 0;
    opacity: 1;
    padding: 6px 0 0;
    position: static;
    visibility: visible;
    width: 100%;
}
.altInstruct p.complex, li.leftHalf p.complex, li.rightHalf p.complex, li.leftThird p.complex, li.middleThird p.complex, li.rightThird p.complex, .iphone p.complex {
    padding: 0 0 9px;
}
.hideSeconds .seconds, .hideAMPM .ampm, .hideAddr2 .addr2, .hideSecondary #previousPageButton, .hideCents .radix, .hideCents .cents {
    display: none;
}
form li.section {
    clear: both;
    margin: 0;
    padding: 7px 0 0;
    position: static;
    width: auto !important;
}
form li.section h3 {
    border-top: 1px dotted #CCCCCC;
    font-size: 110%;
    font-weight: normal;
    line-height: 135%;
    margin: 0 0 3px;
    padding: 12px 1% 0;
    width: auto;
}
form li.first {
    padding: 0;
}
form li.first h3 {
    border-top: medium none !important;
    padding: 8px 1% 0;
}
form li.section div {
    display: block;
    font-size: 85%;
    line-height: 160%;
    margin: 0 0 1em;
    padding: 0 1%;
    width: auto;
}
form li.section.scrollText {
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    border: 1px solid #DEDEDE;
    height: 150px;
    margin-bottom: 10px;
    overflow: auto;
    padding: 10px;
}
form li.section.scrollText h3 {
    border: medium none;
    padding-top: 8px;
}
form li.captcha {
    border-top: 1px dotted #CCCCCC;
    clear: both;
    margin-top: 5px;
    padding: 1.1em 1% 9px;
    position: static;
    width: auto !important;
}
form li.captcha label.desc {
    float: none;
    margin-bottom: 4px;
    text-align: left;
    width: auto !important;
}
* + html #recaptcha_area, * + html #recaptcha_table {
    min-width: 450px !important;
}
* html #recaptcha_area, * html #recaptcha_table {
    width: 450px !important;
}
#recaptcha_widget_div table {
    background: none repeat scroll 0 0 #FFFFFF;
}
form li.captcha .noscript iframe {
    border: medium none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
form li.captcha .noscript label.desc {
    display: block !important;
}
form li.captcha .noscript textarea {
    margin-left: 12px;
}
form li.paging-context {
    border-bottom: 1px dotted #CCCCCC;
    clear: both;
    margin: 0 0 7px;
    padding: 5px 1% 10px;
    position: static;
    width: auto !important;
}
.paging-context table {
    width: 100%;
}
.pgStyle1 td {
    text-align: left;
    vertical-align: middle;
}
.pgStyle1 td.c {
    width: 22px;
}
.pgStyle1 td.t {
    padding: 0 1%;
}
.pgStyle1 var {
    -moz-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    color: #000000;
    display: block;
    float: left;
    font-size: 85%;
    font-style: normal;
    height: 20px;
    line-height: 19px;
    text-align: center;
    width: 20px;
}
.pgStyle1 .done var {
    background: none repeat scroll 0 0 #CCCCCC;
}
.pgStyle1 .selected var {
    background: none repeat scroll 0 0 #FFF7C0;
    border: 1px solid #E6DEAD;
    color: #000000;
    font-weight: bold;
}
.pgStyle1 b {
    color: #000000;
    font-size: 85%;
    font-weight: normal;
}
.pgStyle1 .selected b {
    font-weight: bold;
}
.circle6 td, .circle7 td {
    text-align: center;
    vertical-align: top;
}
.nopagelabel td.t {
    display: none;
}
.nopagelabel .pgStyle1 var, .circle6 var, .circle7 var {
    -moz-border-radius: 12px 12px 12px 12px;
    float: none;
    font-size: 90%;
    height: 24px;
    line-height: 24px;
    margin: 0 auto 7px;
    width: 24px;
}
.nopagelabel .pgStyle1 var {
    margin-bottom: 0;
}
.circle6 b, .circle7 b {
    padding: 0;
}
.circle2 td {
    width: 50%;
}
.circle3 td {
    width: 33%;
}
.circle4 td {
    width: 25%;
}
.circle5 td {
    width: 20%;
}
.circle6 td {
    width: 16.6%;
}
.circle7 td {
    width: 14.2%;
}
.pgStyle2 td {
    -moz-border-radius: 14px 14px 14px 14px;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #CCCCCC;
    height: 25px;
    padding: 2px;
    position: relative;
    vertical-align: middle;
}
.pgStyle2 var {
    -moz-border-radius: 12px 12px 12px 12px;
    -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.15);
    background: none repeat scroll 0 0 #FFF7C0;
    color: #000000;
    display: block;
    float: left;
    font-style: normal;
    height: 26px;
    text-align: right;
}
.pgStyle2 var b {
    display: block;
    float: right;
    font-size: 100%;
    line-height: 19px;
    padding: 3px 10px 3px 3px;
}
.pgStyle2 em {
    display: inline-block;
    font-size: 85%;
    font-style: normal;
    line-height: 18px;
    margin: 0 0 0 9px;
    padding: 4px 0;
}
.pgStyle2 var em {
    padding: 4px 5px 3px 0;
}
.page1 .pgStyle2 var {
    -moz-box-shadow: none;
    background: none repeat scroll 0 0 transparent;
    padding-left: 7px;
    text-align: left;
}
.page1 .pgStyle2 b {
    float: none;
    padding-right: 0;
}
.hideMarkers .marker, .nopagelabel .pgStyle1 b, .nopagelabel .pgStyle2 em {
    display: none !important;
}
#errorLi {
    -moz-border-radius: 20px 20px 20px 20px;
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid red;
    margin: 15px auto;
    padding: 1em 0;
    text-align: center;
    width: 99%;
}
#errorMsgLbl {
    color: #DF0000 !important;
    font-size: 125%;
    margin: 0 0 5px;
    padding: 0;
}
#errorMsg {
    color: #000000 !important;
    font-size: 100%;
    margin: 0 0 2px;
}
#errorMsg strong {
    -moz-border-radius: 10px 10px 10px 10px;
    background-color: #FFDFDF !important;
    color: red !important;
    padding: 2px 8px;
}
form li.error {
    background-color: #FFDFDF !important;
    display: block !important;
    margin-bottom: 3px !important;
}
form li label.error, form li input.error {
    color: #DF0000 !important;
    font-weight: bold !important;
}
form li input.error {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 2px solid #DF0000 !important;
}
form li.error label, form li.error span.symbol {
    color: #000000 !important;
}
form li.error label.desc {
    color: #DF0000 !important;
}
form p.error {
    clear: both;
    color: #DF0000 !important;
    display: none;
    font-size: 11px;
    font-weight: bold;
    line-height: 10px !important;
    margin: 0 !important;
    padding: 7px 0 0 !important;
}
form li.error p.error {
    display: block;
}
form li.complex p.error {
    padding: 0 0 9px !important;
}


/** Tables **/
table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}