
/* CSS Document */

.landlords h2 { background-color: #A0BF7C; color: #FE3C00; font-size: large; font-weight: bolder; line-height: 45px; text-align: center; }

.landlords h4 { background-color: #EEEEEE; color: #03230E; font-size: 14px; font-weight: bolder; line-height: 30px; padding: 0 13px; }

.landlords p { margin:20px 0; padding-left:13px; }

.landlords fieldset { margin: 15px 8px; }

.landlords div.submit { padding:8px; cursor:pointer;}

.landlords li div.input label { padding-bottom: 5px; }

.landlords li input { width:70% }

.landlords .error-message { width:70%; }

.landlords li textarea { width:70% }

.landlords li select { width:40% }

