/* CSS Document */

.landlords { min-height:400px;}

.landlords h2 {font-size:16px; font-weight:bolder; text-align:center; color:#F3C; margin-top:2ex}

.landlords p { margin:15px; text-indent:1em}
