@charset "utf-8";

.school-list {
  float:left;
	width: 100%;
	color: #090909;
	margin-top:8px
}

.school-list .school img { border:1px solid #CCC; margin:5px; }

.school-list .school .name { font-size:110%; font-weight:bold;}

.school-list .compound { float:right; width:92%; }

.school-list .compound .layout { width:133px; }
