.qiwur-hidden { display: none !important; visibility: visible; }

#qiwurHtmlWrapper .hidden { display: none; }

.xubox_page {
	width: 100%;
}

.xubox_title em {
	font-size: large;
}

#systemPanel {
	padding: 20px 20px 12px;
	background: url("/img/stripe2.png") repeat scroll 0px 0px #F8E088;
}

#systemPanel h2 {
	margin: 0;
}

#systemPanel div.view, #systemPanel div.form, #systemPanel div.related {
	background: none repeat scroll 0px 0px #E5F0FF;
	border-bottom: 1px solid #B7D58B;
	border-right: 1px solid #B7D58B;
	padding: 10px 9px;
	margin-bottom: 15px;
	font-size: small;
}

#systemPanel dl {
	line-height: 2em;
	width: 100%;
  margin : 0;
}

#systemPanel dl.altrow {
	background: #f4f4f4;
}

#systemPanel dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}

#systemPanel dd {
	margin-left: 8em;
	margin-top: -2em;
	vertical-align: top;
}

#systemPanel div.actions ul {
	margin: 0px 0;
	padding: 0;
}

#systemPanel div.actions li {
	display: inline;
	list-style-type: none;
	line-height: 2em;
	margin: 0 2em 0 0;
	white-space: nowrap;
}

#systemPanel div.actions ul li a {
	text-decoration: none;
}

#systemPanel div.actions ul li a:hover {
	text-decoration: underline;
}

#systemPanel div.actions {
	background: none repeat scroll 0 0 #E5F0FF;
	padding: 0 18px;
	-moz-border-radius: 20px 20px 20px 20px;
	margin-bottom: 10px;
}

#systemPanel div.actions li {
	font-size: medium;
}

#systemPanel .message {
	margin: 15px 0;
	padding: 10px;
	border: 1px solid #CCC;
	text-align: left;
}

#systemPanel button[type='button'] {
	font-size: medium;
	padding: 2px 8px;
}

#systemPanel form {
	clear: both;
	padding: 0;
}

#systemPanel fieldset {
	border: 1px solid #ccc;
	margin-top: 20px;
	padding: 16px 20px;
}

#systemPanel fieldset legend {
	color: #e32;
	font-size: 140%;
	font-weight: bold;
}

#systemPanel div.text {
	border: none;
}

#systemPanel #pageEntityFields {
	max-height: 300px;
	overflow-y: scroll;
}

#systemPanel #pageEntityFields .del {
	display: inline-block;
	padding: 2px;
	color: red;
	cusor: pointer;
}

#systemPanel input.entity {
	padding: 4px;
	width: 20em;
}

#qiwurHtmlWrapper { opacity:0.8 }
